@font-face {
    font-family: "Afacad Flux", sans-serif;
    src: url("../fonts/AfacadFlux-Bold.ttf");
}

html,body{
    font-family: "Afacad Flux", sans-serif;
    background-color: #334155;
    height: 100%;
    color: #dcf2ff;
}

#app-container{
    height: 100%;
}

#map-container{
    display: flex;
    height: 100%;
}

#map {
    display: flex;
    border-radius: 4px;
    height: 75%;
    width: 50%;
    gap: 20px;
}

.stats{
    border: None;
    border-radius: 4px;
    padding: 10px;
    margin-left: 40px;
    background-color: #637187;
    height: min-content;
}