@font-face {
    font-family: "Afacad Flux", sans-serif;
    src: url("../fonts/AfacadFlux-Bold.ttf");
}

html,body{
    background-color: #334155;
    height: 100%;
    color: #dcf2ff;
    padding: 0;
    margin: 0;
}

#app-container{
    height: 100%;
}

#map-container{
    display: flex;
    height: 100%;
}

#map {
    display: flex;
    height: 75%;
    width: 50%;
    gap: 20px;
    margin-left: 200px;
}

#title{
    padding:20px;
}

.stats{
    border: None;
    border-radius: 4px;
    padding: 10px;
    margin-left: 40px;
    background-color: #637187;
    height: min-content;
}

.sidebar {
    width: 200px;
    background-color: #637187;
    height: 100vh;
    padding-top: 20px;
    position: fixed;
}