@font-face {
    font-family: "Afacad Flux", sans-serif;
    src: url("../fonts/AfacadFlux-Bold.ttf");
}

html,
body {
    font-family: "Afacad Flux", sans-serif;
    height: 100%;
}

#map {
    height: 75%;
    width: 50%;
}