<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Lit Up Ham</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.css')}}">

    <script src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js')}}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.css') }}">

    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">

    <!-- OUR JS SCRIPT -->
    <script src="{{ url_for('static', filename='scripts/main.js')}}" defer></script>
</head>

<body>

    <!-- Navigation Bar -->
    <div class="navbar">
        <div>
            <h1>The Lit Up Ham</h1>
            <p>Scaling real-time solutions for housing and poverty</p>
        </div>
        <div>
            <a href="#policy">Policy</a>
            <a href="#report">Report</a>
            <a href="#support">Support</a>
            <a href="#home">Home</a>
        </div>
    </div>

    <!-- Main Content Layout -->
    <div class="container">
        <!-- Project/Map Section -->
        <div class="project">
            <div id="map"></div>
            <div class="radio">
                <input type="radio" class="radio" id="all" value="a">
                <label for="all">All</label>
                <input type="radio" class="radio" id="project" value="p">
                <label for="project">Project</label>
                <input type="radio" class="radio" id="food-bank" value="f">
                <label for="food-bank">Food Bank</label>
            </div>
        </div>

        <!-- Graphs Section -->
        <div class="graphs">
            <div class="graph">
                <h2>House Price</h2>
                <p>Graph goes here</p>
            </div>
            <div class="graph">
                <h2>Population</h2>
                <p>Bar chart goes here</p>
            </div>
        </div>
    </div>

    <div id="report">

    </div>

    <!-- Footer -->
    <div class="footer">
        <p>&copy; 2024 The Lit Up Ham</p>
    </div>

</body>
</body>

</html>